body, html {
    height: 100%;
    margin: 0;
}

.hero-image {
  background-image: url("../img/banner.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.8;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255,0,0);
  font-family: "Comic Sans MS";
}

.sidenav {
    height: 100%; 
    width: 220px; 
    position: relative; 
    z-index: 0; 
    top: auto; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden;
    padding-top: 20px;
}

/* navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* style when you mouse over the navigation links */
.sidenav a:hover {
    color: #f1f1f1;
    background-color: rgb(100,100,100);
}

/* style when the link is clicked */
.sidenav a:active {
    background-color: rgb(100,100,100);
    color: red;
} 

.main {
    margin-left: 230px; 
    padding: 0px 10px;
    top: -340px;
    position: relative;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar 
(less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

body {
     background-image:url("../img/logo.png");
     background-attachment: fixed;
}
.bawah {
    background-color: #00001a;
    padding: 50px 10px 50px 10px;
    color: #ffffff
}
.pa {
    text-align: middle
}
.img {
    margin-top: 20px
}
.bli {
    color: blue
}

.home {
  color: green;
  font-family: "Comic Sans MS";
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(255,255,0);
}
