body {
    background-image:url("../img/logo.png");
	background-attachment: fixed;
}
p {
	padding-right: 20px;
	padding-left: 20px
}
.pa{
	padding: 80px;
	background-color: #e0b3ff;
	margin-right: 15%;
}
.atas {
	margin-right: 7%;
	margin-left: 7%;
	background-color : #000000;
	opacity: 0.8;
	color: #ffffff;
}
.he1 {
	border-bottom-style: double; 
	border-bottom-color: #14141f; 
	border-bottom-right-radius: 20px; 
	border-bottom-width: thick;
}
.he2 {
	border-bottom-style: solid; 
	border-bottom-color: #14141f; 
	border-bottom-right-radius: 20px; 
	border-bottom-width: thin;
}
.by {
	background-color: #000000; 
	text-align: right;color: #d1d1e0
}
.bli {
	color:blue
}
footer {
	width: 100%;
}
