 .atas {
	margin-right : 7 % ;
	margin-left : 7 % ;
	background-color : # 000000 ;
	keburaman : 0.9 ;
	warna : #ffffffff
}
.he1 {
	border-bottom-style : double ;
	border-bottom-color : # 14141f ;
	border-bottom-right-radius : 20 px ;
	border-bottom-width : tebal ;
}
.he2 {
	border-bottom-style : solid ;
	border-bottom-color : # 14141f ;
	border-bottom-right-radius : 20 px ;
	border-bottom-width : tipis ;
}
.oleh {
	background-color : # 000000 ;
	text-align : right ; warna : # d1d1e0
}
p {
	padding-left :   2 %
}
